####################################################################################################
# NOTE: Each subproject should define its own '.gitignore' to benefit other tools (prettier, etc)! #
####################################################################################################

dist/
node_modules/

pocketbase/pb_data

.env
